:root {
    --color-primary: hsl(231, 69%, 60%);
    --color-secondary-1: hsl(0, 94%, 66%);
    --color-secondary-2: hsl(229, 31%, 21%);
    --color-neutral-1: hsl(229, 8%, 60%);
    --color-neutral-2: hsl(0, 0%, 93%);
    --color-neutral-3: hsl(0, 0%, 100%);
}

/* ?    GENERAL STYLES   */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    color: var(--color-neutral-1);
    margin-top: 0.8em;
}

img {
    display: inline-block;
}

body {
    width: 100%;
    max-width: 1440px;
}

.container {
    width: 80%;
    margin: auto;
}

.brand_logo {
    height: 30px;
}

/* ?    UTILITIES    */
.btn {
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px var(--color-neutral-1);
}

.btn-red {
    background-color: var(--color-secondary-1);
    color: var(--color-neutral-3);
    border: 1px solid var(--color-secondary-1);
}

.btn-red:hover {
    color: var(--color-secondary-1);
    background-color: var(--color-neutral-3);
}

.btn-blue {
    background-color: var(--color-primary);
    color: var(--color-neutral-3);
    padding: 0.7em 0.9em;
    margin-top: 1rem;
    border: 1px solid var(--color-primary);
}

.btn-blue:hover {
    color: var(--color-primary);
    background-color: var(--color-neutral-3);
}

.btn-light {
    background-color: var(--color-neutral-2);
    color: var(--color-secondary-2);
    padding: 0.7em 0.9em;
    margin-top: 1rem;
    border: 1px solid var(--color-neutral-2);
}

.btn-light:hover {
    color: var(--color-secondary-2);
    background-color: var(--color-neutral-3);
    border: 1px solid var(--color-secondary-2);
}

/* ?    TYPOGRAPHY   */
h1,
h2,
h3,
h4 {
    color: var(--color-secondary-2);
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

/* ?    NAVBAR   */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 2rem;
    width: 90%;
    margin-right: auto;
}

.nav_link_list li,
.footer_nav_list li {
    display: inline;
}

.nav_link {
    color: var(--color-secondary-2);
    font-weight: 600;
    font-size: 0.8rem;
    padding-right: 2.5em;
}

.nav_link:hover,
.footer_nav_link:hover {
    color: var(--color-secondary-1);
}

.login_btn {
    padding: 0.5em 1.3em;
}

/* ?    HERO     */

.hero {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_quote {
    width: 45%;
}

.hero_photo {
    width: 53%;
}

.hero_body,
.feature_tab_body {
    text-align: left;
}

.hero_btn:nth-child(2) {
    margin-left: 10px;
}

@media screen and (min-width: 375px) and (max-width: 795px) {
    html {
        font-size: 14px;
    }

    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: space-between;
    }

    .hero_photo {
        width: 100%;
    }

    .hero_body,
    .feature_tab_body {
        text-align: center;
    }

    .hero_quote {
        width: 100%;
        text-align: center;
    }
}

/* ?    FEATURES     */

.features_content,
.downloads_content,
.faq_content {
    text-align: center;
    margin-top: 4rem;
}

.features_tab_links {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: auto;
    margin-top: 2rem;
    padding: 0rem 0rem 1rem;
    border-bottom: 2px solid var(--color-neutral-2);
}

.feature_tab_link {
    display: block;
    color: var(--color-secondary-2);
    margin-bottom: -1.05rem;
    padding: 0.5rem 1rem;
}

.feature_tab_link-active {
    border-bottom: 2px solid var(--color-secondary-1);
    font-weight: 600;
}

.feature_tab_link:hover {
    cursor: pointer;
    color: var(--color-secondary-1);
}

@media screen and (min-width: 375px) and (max-width: 795px) {
    .features_tab_links {
        flex-direction: column;
        width: 100%;
        border: none;
        border-top: 2px solid var(--color-neutral-2);
        text-align: center;
        align-content: center;
    }

    .features_tab_links li {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid var(--color-neutral-2);
    }

    .feature_tab_link {
        padding-bottom: 1rem;
    }
}

/* ?    FEATURE TABS     */

.features_tabs {
    margin-top: 3rem;
}

.feature_tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature_tab_photo {
    height: 50vh;
    width: 50%;
}

.feature_tab_content {
    width: 40%;
}

@media screen and (min-width: 375px) and (max-width: 795px) {
    .features_tabs {
        margin-top: 1.5rem;
    }

    .feature_tab {
        flex-direction: column;
        align-items: space-between;
    }

    .feature_tab_photo {
        width: 100%;
    }

    .feature_tab_content {
        width: 100%;
        text-align: center;
        padding-top: 1rem;
    }
}

/* ?    DOWNLOADS CARD   */

.downloads_cards {
    width: 70%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.download_card {
    width: 30%;
    text-align: center;
    box-shadow: 1px 1px 15px 0px var(--color-neutral-2);
    padding: 2rem 0.7rem 0.7rem;
    border: none;
    border-radius: 5px;
}

.download_card-lower {
    margin-top: 1.5rem;
}

.download_card-lowest {
    margin-top: 2.5rem;
}

.download_btn {
    font-size: 0.7em;
    padding: 0.8em 2.3em;
}

.download_card_title {
    font-size: 1.1rem;
    margin-top: 10px;
}

.download_card_body {
    font-size: 0.8rem;
}

.dots {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

@media screen and (min-width: 375px) and (max-width: 795px) {
    .downloads_cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .download_card {
        width: 90%;
    }

    .download_card-lower,
    .download_card-lowest {
        margin-top: 1.5rem;
    }
}

/* ?    FAQS     */

.faq_questions {
    width: 50%;
    margin: 2.5rem auto;
    border-top: 2px solid var(--color-neutral-2);
}

.faq_questions li {
    display: block;
    padding: 0.7rem 0.5rem;
    border-bottom: 2px solid var(--color-neutral-2);
    color: var(--color-secondary-2);
}

.question_item {
    display: flex;
    justify-content: space-between;
}

.info_btn-centered {
    display: block;
    margin: auto;
    margin-top: 3rem;
}

.question_link {
    color: var(--color-primary);
}

.answer {
    color: var(--color-neutral-1);
    padding: 1rem;
}

@media screen and (min-width: 375px) and (max-width: 795px) {
    .faq_questions {
        width: 90%;
    }
}

/* ?    NEWSLETTER   */

.newsletter {
    background-color: var(--color-primary);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    margin-top: 4rem;
}

.newsletter_count,
.newsletter_body {
    color: var(--color-neutral-3);
}

.newsletter_count {
    font-size: 0.8rem;
}

.newsletter_body {
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 0.95rem;
}

#newsletter_form {
    display: flex;
    width: 30%;
    align-items: flex-start;
    justify-content: space-around;
    margin: auto;
}

.form_group {
    width: 75%;
}

.newsletter_input {
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: var(--color-neutral-3);
    font-size: 0.6rem;
    color: var(--color-neutral-1);
    padding: 0.7em 0.8em;
    display: block;
    width: 100%;
    z-index: 100;
}

.msg {
    border: none;
    font-size: 0.7rem;
    color: var(--color-neutral-3);
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: var(--color-secondary-1);
    display: block;
    width: 100%;
    z-index: -1;
    border-radius: 3px;
}

.newsletter_btn {
    padding: 0.7em 0.8em;
    font-size: 0.6rem;
}

@media screen and (min-width: 375px) and (max-width: 795px) {
    #newsletter_form {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .form_group {
        width: 100%;
    }

    .msg {
        text-align: left;
        padding: 0.3rem 0.4rem;
    }
}

/* ?    FOOTER   */

.footer {
    background-color: var(--color-secondary-2);
    padding: 1rem 0;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-flex div {
    display: flex;
    align-items: center;
}

.footer .brand_logo,
.social_link {
    color: var(--color-neutral-3);
}

.footer_nav_list {
    display: inline-block;
    margin-left: 0.9rem;
}

.footer_nav_link {
    color: var(--color-neutral-1);
}

.socials {
    align-self: center;
}

.socials li {
    display: inline-block;
}

.social_link {
    padding-left: 1rem;
}

.social_link:hover {
    color: var(--color-secondary-1);
}

@media screen and (min-width: 375px) and (max-width: 795px) {
    .container {
        width: 100%;
    }

    .footer img {
        display: block;
        align-items: center;
    }

    .footer-flex {
        flex-direction: column;
        align-content: center;
    }

    .footer-flex div {
        flex-direction: column;
        align-items: center;
    }

    .footer_nav_list {
        display: block;
        margin-top: 1rem;
    }

    .footer_nav_list li {
        display: block;
    }

    .socials {
        margin-top: 2rem;
    }

    .social_link {
        padding: 0;
    }
}
